button.button-clear-history {
  background: #F6D86B;
  border-bottom: 2px solid #F6D86B;

  &:active {
    background: darken(#F6D86B, 50%);
    border-bottom-color: darken(#F6D86B, 50%);
    -webkit-box-shadow: inset 0 -2px darken(#F6D86B, 50%);
    box-shadow: inset 0 -2px darken(#F6D86B, 50%);
  }

  &:hover {
    background: darken(#F6D86B, 10%);
    border-bottom-color: darken(#F6D86B, 20%);
    -webkit-box-shadow: inset 0 -2px darken(#F6D86B, 20%);
    box-shadow: inset 0 -2px darken(#F6D86B, 20%);
  }
}