.search-form {

  input {
    width: 100%;
    height: 60px;
    font-size: 45px;

    @media (max-width: 600px) {
      font-size: 30px;
    }
  }

  button.button-search {
    background: #FA4B00;
    border-bottom: 2px solid #FA4B00;


    &:active {
      background: darken(#FA4B00, 50%);
      border-bottom-color: darken(#FA4B00, 50%);
      -webkit-box-shadow: inset 0 -2px darken(#FA4B00, 50%);
      box-shadow: inset 0 -2px darken(#FA4B00, 50%);
    }

    &:hover {
      background: darken(#FA4B00, 10%);
      border-bottom-color: darken(#FA4B00, 20%);
      -webkit-box-shadow: inset 0 -2px darken(#FA4B00, 20%);
      box-shadow: inset 0 -2px darken(#FA4B00, 20%);
    }
  }
}